@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
body{
    background-image: url("../images/pattern-background-desktop.svg");
    background-color: hsl(225, 100%, 94%);
    width: 1440px;
    background-repeat: no-repeat;
    margin: 0 auto;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    background-size: 100%;

}

h1{
    color: hsl(223, 47%, 23%);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

#Hero-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.rounded-corners{
    border-radius: 15px 15px 0 0;
}

.bottomRoundedCorners{
    border-radius: 0 0 15px 15px;
}
#column-with-information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 50px;
    background-color: white;
    text-align: center;
}
.whole-column{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    width: 50%;

}
#container{
display: flex;
justify-content: center;
align-items: center;
width: 100vw;
height:100vh;
}

p{
font-weight: 500;
color: rgb(146, 143, 143);
}

#annual-payment-cont{
    background-color: hsl(225, 100%, 98%);
    border-radius: 15px 15px 15px 15px;
    display: flex;
    justify-content: start;
    align-items: center;
}

#annual-contain{
    display: flex;
    margin-left: 15px;
}
#change-link{
    margin-left: auto;
    margin-right: 15px;
    color: hsl(223, 47%, 23%)
}

#Music-Icon{
    margin-left: 15px;
}

#paymentButton{
    border: 0px;
    margin-top: 25px;
    background-color: hsl(245, 75%, 52%);
    color: white;
    font-family: 'Red Hat Display', sans-serif;
    border-radius: 8px;
    padding: 10px 24px;
    box-shadow: 0 8px 16px rgba(0, 0,0, 0.2),0 6px 20px 0 rgba(0, 0,0, 0.19);
    font-weight: 700;
    cursor: pointer;
}

b{
    color: hsl(223, 47%, 23%);
}

#links{
display: flex;
flex-direction: column;
}

#cancelOrderLink{
margin-top: 20px;
margin-bottom: 20px;
font-weight: 700;
color: rgb(146, 143, 143);
text-decoration: none;
font-size: 16px;
}

#changeOrderLink{
    font-weight: 500;
}

#contentContainer{
    display: flex;
    justify-content: center;
}

